.trigger{all:unset;cursor:pointer;padding:.4rem .6rem;border:1px solid var(--ifm-color-emphasis-300);border-radius:8px}
.backdrop{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    align-items:flex-start;
    justify-content:center;
    padding-top:10vh;
    z-index:9999;
    width:100%;
}
.modal{
    /*background:var(--ifm-background-color);*/
    /*color:var(--ifm-font-color-base);*/
    /*min-height:85vh;*/
    /*max-height:85vh;*/
    /*overflow:auto;*/
    /*border-radius:12px;*/
    /*padding:1rem;*/
}
.close{position:relative;cursor:pointer;font-size:1.5rem}
/* src/theme/SearchBar/SearchBar.module.css */
.pills{position:fixed;top:12px;right:18px;z-index:100000;display:flex;gap:.4rem;flex-wrap:wrap}
.pills button{all:unset;cursor:pointer;padding:.25rem .6rem;border:1px solid var(--ifm-color-emphasis-300);border-radius:999px;font-size:.8rem;background:var(--ifm-background-color)}
.pills button.active{background:var(--ifm-color-primary);color:#fff;border-color:transparent}

.modalSearchContainer {
    max-height: 60vh;
}
.searchModal {
    background: var(--ifm-background-color);
    padding: 10px;
    border-radius: 10px;
    width: 80vw;
    max-width: 800px;
}