/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "@netfoundry/docusaurus-theme/css/tabs-v8-float.css";
@import "@netfoundry/docusaurus-theme/css/legacy.css";
@import '@docsearch/css';

/* You can override the default Infima variables here. */
:root {
    --ziti-landing-max-width: 1800px;
    --ifm-container-width-xl: 1400px;
    --ziti-star-us-height: 1px;
}

.navbar__brand { /* squeeze whitespace */
    margin-right: 0;
    display:flex;
    align-items:center;
    justify-content: end;
}
.navbar__logo_nf { /* squeeze whitespace */
    margin-right: 0;
    height: var(--ifm-navbar-height);
}
.navbar__logo { /* squeeze whitespace */
    margin-right: 0;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.clean-btn svg {
    /*
    used to change the size of the light/dark toggle
    needs to be this specific for docusaurus
    */
    height: 30px;
    width: 30px;
}

.DocSearch-Button {
    background: #ebedf0;
    color: var(--ifm-color-primary);
}


.main-wrapper {
    article {
        padding-bottom: 2em;
    }
    > div {
        max-width: var(--ziti-landing-max-width);
        width: 100%;
    }
}

.navbar .navbar__inner {
    margin: 0 auto;
    max-width: var(--ziti-landing-max-width);
}

html,
body,
#__docusaurus {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding-top: 0;
}
