name: Publish @netfoundry/docusaurus-shared

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - run: npm install -g npm@latest # https://github.com/orgs/community/discussions/173102#discussioncomment-14367428 states the latest npm isn't installed???

      - name: Publish
        run: ./lib/packages/docusaurus-shared/publish.sh
